migrate.cfg
wiki
trac_cache
/archive/*.json
/archive/attachments
/archive/files
!/archive/schema.json
!/archive/organizations_*.json
/map-ghe.csv
/SECRETS
__pycache__
/keyword_frequency.txt
/unmapped_users.txt
/unmapped_milestones.txt
/component_frequency.txt
/minimized_issue_comments.json
